@font-face {
  font-family: Mono;
  src: url("./assets/Mono.ttf");
}

@font-face {
  font-family: Ethnocentric;
  src: url("./assets/ethnocentric\ rg.otf");
}

.App {
  width: 100vw;
  display: flex;
  gap: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Mono;
  background: var(--dark-background, #09090b);
}

.navBtn{
  cursor: pointer;
}

.navigation-div-for-mobile{
  display: none;
}

.visible{
  display: flex;
}

.hidden{
  display: none;
}

.navbar {
  display: flex;
  max-width: 100%;
  padding: 0vw 2vw;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75vw;
  align-self: stretch;
  cursor: pointer;
}

.nav-part-I {
  display: flex;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
}

.nav-part-II {
  display: flex;
  align-items: center;
  gap: 2rem;
}

html {
  overflow-x: hidden;
}

.heroSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.title-heroSection {
  align-self: stretch;
  color: var(--dark-foreground, #fafafa);
  text-align: center;
  font-size: 3vw;
  width: 60%;
  font-style: normal;
  font-weight: 800;
  line-height: 3rem;
  letter-spacing: -0.036rem;
  padding-left: 20vw;
}

.navigation-text,
.company-name,
.desc {
  color: var(--dark-foreground, #fafafa);
}

.desc {
  width: 50%;
  text-align: center;
}

.navigation-text{
  cursor: pointer;
}

.navigation-text:hover{
  color: #9a9a9a;
}



.company-name {
  color: #fff;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: 175%; /* 175% */
}

.signup {
  display: flex;
  padding: 0.325vw;
  border: none;
  border-radius: 0.375vw;
  background: #fafafa;
  justify-content: center;
  align-items: center;

  color: var(--dark-primary-foreground, #18181b);
  font-size: 0.875vw;
  font-style: normal;
  font-weight: 600;
  line-height: 200%; /* 200% */
  cursor: pointer;
}

.login {
  color: var(--dark-minor, #d9d9d9);
  font-size: 0.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  background: none;
  border: none;
}

.login:hover{
  color: #9a9a9a;
  transition-duration: .5s;
}

.signup:hover{
  color: gray;
  transition-duration: .5s;
}

.title-heroSection {
  text-align: center;
}

.getStrt {
  display: flex;
  padding: 0.725vw;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
  border-radius: 0.375vw;
  background: #fafafa;
  border: none;
  color: var(--dark-primary-foreground, #18181b);

  /* p-bold */
  font-size: 0.875vw;
  font-style: normal;
  font-weight: 600;
  line-height: 200%; /* 200% */
}

.hero-image {
  object-fit: cover;
}

.quick-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 6rem;
}

.quick-features-title {
  color: var(--dark-foreground, #fafafa);
  text-align: center;
  font-size: 3vw;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.036vw;
}

.all-features {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  gap: 3rem;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.features-III{
  width: 45%;
}

.title-of-features {
  color: var(--dark-minor, #d9d9d9);
  font-size: 1.5vw;
  font-style: normal;
  width: 105%;
  font-weight: 600;
  line-height: 133.333%; /* 133.333% */
  letter-spacing: -0.009rem;
}

.quick-features-desc {
  color: var(--dark-minor, #d9d9d9);
  font-size: 0.875vw;
  font-style: normal;
  width: 85%;
  font-weight: 400;
  line-height: 200%;
}

.logos {
  border-radius: 0.375rem;
  border: 1px solid var(--dark-border, #27272a);
  background: var(--dark-background, #09090b);
  padding: 1vw;
}

.mini-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}

.mini-hero-title {
  color: var(--dark-foreground, #fafafa);
  text-align: center;
  font-size: 3vw;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 100% */
  letter-spacing: -0.036vw;
}

.mini-hero-desc {
  color: var(--dark-minor, #d9d9d9);
  text-align: center;
  font-size: 1.125vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125vw; /* 100% */
  opacity: 0.76;
  width: 86%;
}

.mini-hero-image {
  object-fit: cover;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.get-in-touch-heading {
  color: var(--dark-foreground, #fafafa);
  text-align: center;
  font-size: 3vw;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 100% */
  letter-spacing: -0.036vw;
}

.get-in-touch-desc {
  color: var(--dark-foreground, #fafafa);
  text-align: center;
  font-size: 1.125vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 100% */
}

footer {
  border-top: 1px solid var(--dark-border, #27272a);
  width: 99%;
  display: flex;
  justify-content: space-evenly;
  gap: 70vw;
  align-items: center;
  align-self: stretch;
}

.company-name-logo {
  display: flex;
  align-items: center;
  gap: 0.75vw;
  padding-left: 1vw;
  align-self: stretch;
  cursor: pointer;
}

.foot-text {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.txtV {
  color: var(--dark-minor, #d9d9d9);
  font-size: 0.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 200% */
  cursor: pointer;
}

.company-name{
  font-size: 1.3vw;
}

.forMobile{
  display: none;
}

@media only screen and (max-width:517px) {

  .App{
    max-width: 100vw;
    overflow-x: hidden;
  }

  .hero-image, .mini-hero-image{
    width: 90vw;
  }

  .notForMobile{
    display: none;
  }

  .forMobile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    width: 100%;
    padding: .5rem;
    top: 0;
    background-color: #1f1f1f;
  }
  
  .logo-name{
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }

  .company-name-for-mobile{
    font-size: 5vw;
    color: #fff;
    font-weight: 700;
  }

  .signup-login-navigation{
    display: flex;
    gap: 1rem;
  }

  html{
    overflow-x: hidden;
  }

  .loginMobile{
    font-size: 4vw;
    padding: 0.225vh 1.525vw .225vh 1.525vw;
    border-radius: 1.375vw;
  }

  .mobileNavBtn{
    background: none;
    border: none;
    outline: none;
  }

  .mobile-navigating-icon{
    color: #fff;
  }

  .heroSection{
    padding-top: 10vh;
  }

  .title-heroSection{
    line-height: 175%;
    font-size: 4vw;
    width: 90%;
    padding-left: 6vw;
  }

  .desc{
    width: 100%;
    text-align: center;
  }

  .getStrt{
    font-size: 4vw;
    padding: .6rem;
    border-radius: .52rem;
  }

  .quick-features-title{
    font-size: 5vw;
    line-height: 200%;
    width: 130%;
  }

  .quick-features{
    gap: 1rem;
  }

  .quick-features-desc{
    font-size: 2.275vw;
  }

  .title-of-features{
    font-size: 3vw;
    width: 118%;
  }

  .all-features{
    gap: 3rem;
    align-items: baseline;
  }

  .mini-hero-desc{
    font-size: 3.22vw;
    line-height: 170%;
  }

  .get-in-touch-heading {
    font-size: 5.5vw;
  }

  .get-in-touch-desc, .company-name {
    font-size: 3vw;
  }

  .txtV{
    font-size: 3vw;
    width: 100%;
  }

  footer{
    gap: 40vw;
  }

  .foot-text{
    gap: 6vw;
  }

  .quick-desc-II{
    padding-top: 1rem;
  }

  .navigation-div-for-mobile{
    width: 100%;
    background-color: #1f1f1f;
    height: 30vh;
    padding-top:14vh;
  }

  .nav-txt{
    color: #fff;
  }

  .nav-txt:active{
    color: #9a9a9a;
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mobile-navigating-icon{
    font-size: 5vw;
  }
}

@media only screen and (max-width:800px) and (min-width:518px) {
  .App{
    width: 100%;
    overflow-x: hidden;
  }

  .hero-image{
    width: 90vw;
    object-fit: cover;
  }
  
  .mini-hero-image{
    width: 90vw;
    object-fit: cover;
  }

  .navigation-text{
    font-size: 2vw;
  }

  .navBtn{
    font-size: 2vw;
  }

  .nav-part-I{
    gap: 1rem;
  }

  .company-name{
    font-size: 2vw;
  }

  .title-heroSection{
    width: 100%;
    padding-left: 1vw;
  }

  .desc{
    width: 90%;
  }

  .getStrt{
    font-size: 3vw;
  }

  .quick-features-title{
    font-size: 4vw;
  }

  .title-of-features{
    font-size: 2.5vw;
  }

  .quick-features-desc{
    font-size: 2vw;
  }

  .all-features{
    align-items: baseline;
  }

  .featureIIItitle{
    width: 150%;
  }

  .quick-features-desc{
    width: 94%;
  }

  .featureIIIdesc{
    width: 150%;
  }

  .mini-hero-desc{
    font-size: 3vw;
    line-height: 200%;
  }

  .get-in-touch-heading{
    font-size: 5vw;
  }

  .get-in-touch-desc{
    font-size: 2.5vw;
  }

  .txtV{
    font-size: 2vw;
  }

  footer{
    gap: 40vw;
  }

  .foot-text{
    gap: 5vw;
  }
}

@media only screen and (max-width:1024px) and (min-width:801px) {
  .App{
    width: 100%;
    overflow-x: hidden;
  }

  .hero-image{
    width: 90vw;
    object-fit: cover;
  }
  
  .mini-hero-image{
    width: 90vw;
    object-fit: cover;
  }

  .navigation-text{
    font-size: 2vw;
  }

  .navBtn{
    font-size: 2vw;
  }

  .nav-part-I{
    gap: 1rem;
  }

  .company-name{
    font-size: 2vw;
  }

  .title-heroSection{
    width: 100%;
    padding-left: 1vw;
  }

  .desc{
    width: 90%;
  }

  .getStrt{
    font-size: 3vw;
  }

  .quick-features-title{
    font-size: 4vw;
  }

  .title-of-features{
    font-size: 2.5vw;
  }

  .quick-features-desc{
    font-size: 2vw;
  }

  .all-features{
    align-items: baseline;
  }

  .featureIIItitle{
    width: 150%;
  }

  .quick-features-desc{
    width: 94%;
  }

  .featureIIIdesc{
    width: 150%;
  }

  .mini-hero-desc{
    font-size: 3vw;
    line-height: 200%;
  }

  .get-in-touch-heading{
    font-size: 5vw;
  }

  .get-in-touch-desc{
    font-size: 2.5vw;
  }

  .txtV{
    font-size: 2vw;
  }

  footer{
    gap: 40vw;
  }

  .foot-text{
    gap: 5vw;
  }
}